body{
  overflow-x: hidden;
}

.navbar-dark{
  background-color: #29784F;
}

.card {
  border-radius: 0px !important;
}

.td-department{
  text-align: right;
}
.btn{
  border-radius: 0px !important;

}
.btn-success{
  background-color: #33ccbe !important; 
  border: 0px !important;
}
.btn-success:hover{
  background-color: #2db2a6 !important; 
  border: 0px !important;
}
.btn-add{
  color: white;
  text-decoration: none !important;
}
.btn-add:hover{
  color: white;
  background-color: #2db2a6 !important;
}
.btn-info{
  background-color: #3197ce !important;
  border: 0px !important;
  color: white !important;
}

.btn-info:hover{
  background-color: #2b84b4 !important;
  border: 0px !important;
  color: white !important;
}
.btn-primary{
  background-color: #40a016 !important;
  border: 0px !important;
}
.btn-danger{
  border: 0px !important;
}

.btn-primary:hover{
  background-color: #348012 !important;
  border: 0px !important;
}
.form-control {
  border-radius: 0px !important;
}

.table-faculty{
  width: 100% !important;
  /* border: none !important; */
}